body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button.download-store {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

.button.download-store.google-play {
  width: 243px;
  height: 0px;
  margin-right: 0px;
  margin-left: 10px;
  padding: 100px 0px 0px;
  float: left;
  background-image: url('../images/google_play_badge.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.button.download-store.google-play.apple-store {
  margin-left: 38px;
  background-image: url('../images/app_store_badge.jpg');
  background-size: contain;
}

.logo-text {
  margin-top: 24px;
  font-family: 'Roboto Slab', sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #00aeef;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.nav-link {
  padding: 49px 17px 8px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  color: #fff;
  font-weight: 300;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #30383d;
  color: #dfe8e4;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.main {
  margin-top: 30px;
  padding-top: 81px;
  padding-bottom: 33px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 4px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #dde7ed;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.section.developer {
  padding-bottom: 0px;
  background-color: #eee;
}

.section.pay-later {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.section.pricing {
  padding-bottom: 0px;
  background-color: #eee;
}

.section.features-1 {
  padding-top: 107px;
  background-color: #eee;
}

.section.features-2 {
  padding-top: 0px;
}

.section.video-section {
  background-color: #00aeef;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 26px;
  padding-right: 56px;
  color: #000;
  font-size: 21px;
  line-height: 31px;
  font-weight: 100;
}

.nav-menu {
  padding-left: 50px;
  float: left;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000;
  font-size: 45px;
  line-height: 55px;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature-row {
  margin-bottom: 14px;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.small-features-row {
  margin-top: 71px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.nav-logo {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-social-menu {
  margin-top: 7px;
}

.social-item {
  position: relative;
  display: block;
  overflow: visible;
  height: 50px;
  margin-top: 17px;
  margin-left: 26px;
  padding: 7px 15px 7px 16px;
  float: right;
  border-style: none;
  text-decoration: none;
}

.social-item.linkedin-icon {
  border-style: none;
  background-image: url('../images/linkedin_logo_button.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-item.facebook {
  height: 34px;
  margin-top: 24px;
  background-image: url('../images/facebook_logo_button.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-item.twitter {
  background-image: url('../images/twitter_logo_button.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-steps {
  position: relative;
  width: 100%;
  margin-top: 95px;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
}

.steps {
  padding-right: 0px;
  padding-left: 0px;
  border-right: 1px solid #489fd9;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.steps.last-steps {
  border-right-style: none;
}

.step-image {
  position: relative;
  height: 0px;
  margin-bottom: 0px;
  padding-top: 85px;
}

.step-image.step-image-1 {
  background-image: url('../images/install-step-1.gif');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.step-image.step-image-2 {
  background-image: url('../images/step1_image.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.step-image.step-image-3 {
  background-image: url('../images/android_apple_icons_2.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.step-title {
  color: #000;
  font-size: 38px;
  font-weight: 500;
}

.step-sub-title {
  margin-bottom: 0px;
  color: #00aeef;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.step-description {
  width: 100%;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}

.coupon-heading {
  color: #00aeef;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
}

.coupon-description {
  color: #000;
  font-size: 31px;
  line-height: 40px;
  font-weight: 300;
}

.coupon-description.pricing-decription {
  font-size: 20px;
  line-height: 22px;
}

.coupon-image {
  height: 430px;
  margin-top: -50px;
  background-image: url('../images/coupon_white.gif');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.coupon-row {
  margin-top: 24px;
}

.developer-image {
  height: 470px;
  margin-top: -50px;
  background-image: url('../images/geek_developer_image.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.developer-description {
  padding-left: 40px;
}

.main-banner-container {
  overflow: visible;
}

.pay-later-image {
  height: 500px;
  margin-top: -63px;
  background-image: url('../images/purple_hair.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing-text-column {
  margin-top: -55px;
}

.pay-later-text-column {
  margin-top: 40px;
}

.price-image-column {
  margin-top: -91px;
}

.pricing-image {
  height: 500px;
  margin-top: -46px;
  background-image: url('../images/money.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.small-pricing-text {
  color: #00aeef;
  font-size: 29px;
}

.pricing-price-label {
  font-size: 55px;
  line-height: auto;
}

.pricing-header {
  color: #00aeef;
}

.pricing-text-place-holder-list {
  position: relative;
  top: 0px;
  bottom: 0px;
  height: 100%;
}

.price-holder {
  height: 0px;
  padding-top: 30%;
}

.pay-later-image-column {
  margin-top: 1px;
}

.footer-list-spacer-item {
  height: 0px;
  padding-top: 15%;
}

.footer-contact-us {
  font-size: 18px;
  font-weight: 300;
}

.footer-contact-us-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.footer-list-container {
  margin-bottom: 0px;
}

.feature-1-heading {
  color: #00aeef;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.feature-1-header-subheader {
  color: #30383d;
  font-size: 25px;
  line-height: 38px;
}

.feature-text-box-header {
  margin-bottom: 0px;
  color: #00aeef;
  font-size: 35px;
  line-height: 35px;
  font-weight: 500;
}

.feature-1-description {
  font-size: 26px;
  line-height: 33px;
  font-weight: 300;
}

.feature-box {
  margin-top: 60px;
}

.feature-1-image {
  padding-right: 41px;
  padding-left: 21%;
}

.features-2-image {
  margin-top: 85px;
}

.buy-now-button {
  width: 50%;
  margin-top: 26px;
  margin-left: 25%;
  border-radius: 8px;
  background-color: #00aeef;
  text-align: center;
}

.much-more-link {
  color: #254ea2;
}

.cents {
  height: 50px;
  font-size: 25px;
  line-height: 56px;
  text-decoration: underline;
}

.main-banner-animated-gif-container {
  height: 435px;
}

.video-heading {
  margin-bottom: 42px;
  color: #fff;
  font-size: 46px;
  line-height: 48px;
}

.video-place-holder {
  height: 430px;
  background-image: url('../images/video_place_holder.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.credit-cards-images {
  margin-right: 127px;
  padding-top: 74px;
  background-image: url('../images/credit-01.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bannerslide {
  position: absolute;
  height: 430px;
  opacity: 1;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="come-from-right"] {
  -webkit-transform: translate(1500px, 0px);
  -ms-transform: translate(1500px, 0px);
  transform: translate(1500px, 0px);
}

html.w-mod-js *[data-ix="come-from-left"] {
  -webkit-transform: translate(-1500px, 0px);
  -ms-transform: translate(-1500px, 0px);
  transform: translate(-1500px, 0px);
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .button.download-store.google-play {
    width: 150px;
    float: left;
  }
  .logo-text.footer {
    font-size: 20px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #3c5b9a;
    color: #fff;
  }
  .nav-link.first {
    margin-top: 62px;
  }
  .section.developer {
    padding-top: 20px;
  }
  .main-subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #3c5b9a;
  }
  .footer-slogan {
    font-size: 13px;
    line-height: 10px;
  }
  .footer-title {
    font-size: 14px;
    line-height: 16px;
  }
  .page-link.in-footer {
    font-size: 13px;
    line-height: 30px;
  }
  .newsletter-field {
    width: 50%;
    height: 30px;
    font-size: 11px;
  }
  .newsletter-button {
    width: 50%;
    height: 30px;
    font-size: 13px;
    line-height: 13px;
  }
  .main-heading {
    font-size: 30px;
    line-height: 37px;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .navigationcontainer {
    height: 353px;
  }
  .nav-logo {
    overflow: visible;
    max-height: 60px;
    margin-top: 8px;
    float: left;
  }
  .nav-menu-icon {
    color: #fff;
  }
  .nav-social-menu {
    background-color: #b0c4d1;
  }
  .social-item.linkedin-icon {
    padding-bottom: 15px;
  }
  .social-item.facebook {
    padding-bottom: 15px;
  }
  .social-item.twitter {
    padding-bottom: 15px;
  }
  .main-steps {
    margin-top: 56px;
  }
  .steps {
    border-right-style: none;
  }
  .steps.step1 {
    border-right-style: none;
  }
  .step-image.step-image-1 {
    padding-top: 60px;
  }
  .step-image.step-image-2 {
    padding-top: 60px;
  }
  .step-image.step-image-3 {
    padding-top: 60px;
    background-size: contain;
  }
  .step-sub-title {
    font-size: 20px;
    line-height: 25px;
  }
  .step-description {
    font-size: 15px;
    line-height: 20px;
  }
  .coupon-heading {
    font-size: 35px;
    line-height: 40px;
  }
  .coupon-description {
    font-size: 25px;
    line-height: 30px;
  }
  .coupon-image {
    height: 350px;
  }
  .developer-image {
    height: 300px;
    margin-top: 0px;
  }
  .developer-description {
    padding-left: 15px;
  }
  .pay-later-image {
    height: 300px;
    margin-top: 0px;
  }
  .pricing-image {
    height: 300px;
    margin-top: 36px;
  }
  .small-pricing-text {
    font-size: 19px;
    line-height: 25px;
  }
  .pricing-price-label {
    font-size: 40px;
  }
  .pricing-header {
    font-size: 26px;
    line-height: 31px;
  }
  .footer-contact-us {
    font-size: 13px;
    line-height: 16px;
  }
  .feature-1-heading {
    font-size: 35px;
    line-height: 37px;
  }
  .feature-1-header-subheader {
    font-size: 18px;
    line-height: 23px;
  }
  .feature-text-box-header {
    font-size: 25px;
    line-height: 25px;
  }
  .feature-1-description {
    font-size: 16px;
    line-height: 20px;
  }
  .feature-box {
    margin-top: 30px;
    padding-left: 31px;
  }
  .features-2-image {
    margin-top: 45px;
  }
  .credit-cards-images {
    padding-top: 50px;
    background-image: url('../images/credit-01.png');
    background-position: 0px 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bannerslide {
    position: absolute;
    left: 33%;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  .main-banner-image {
    height: 400px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .button.download-store.google-play {
    width: 120px;
    margin-left: 0px;
    padding-top: 60px;
  }
  .button.download-store.google-play.apple-store {
    margin-left: 5px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .nav-link.menu.w--open {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .section.press {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section.pricing {
    padding-top: 16px;
  }
  .section.video-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-subtitle {
    font-size: 15px;
    line-height: 17px;
    text-align: left;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .main-heading {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .nav-menu-icon {
    padding-top: 11px;
  }
  .step-image.step-image-1 {
    padding-top: 40px;
  }
  .step-image.step-image-2 {
    padding-top: 40px;
  }
  .step-image.step-image-3 {
    padding-top: 40px;
    background-size: contain;
  }
  .step-title {
    font-size: 24px;
    line-height: 22px;
  }
  .step-sub-title {
    font-size: 17px;
    line-height: 19px;
  }
  .step-description {
    font-size: 12px;
    line-height: 15px;
  }
  .coupon-heading {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }
  .coupon-description {
    font-size: 13px;
    line-height: 15px;
    text-align: left;
  }
  .coupon-description.pricing-decription {
    font-size: 15px;
    line-height: 18px;
    text-align: left;
  }
  .coupon-image {
    height: 170px;
    margin-top: -10px;
  }
  .developer-image {
    height: 170px;
    margin-top: -10px;
  }
  .pay-later-image {
    height: 170px;
    margin-top: 0px;
  }
  .pricing-text-column {
    margin-top: 0px;
  }
  .price-image-column {
    margin-top: 0px;
  }
  .pricing-image {
    height: 170px;
    margin-top: 13px;
  }
  .small-pricing-text {
    font-size: 10px;
    line-height: 13px;
  }
  .pricing-header {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }
  .price-holder {
    padding-top: 0%;
  }
  .footer-list-spacer-item {
    padding-top: 0%;
  }
  .feature-text-box-header {
    text-align: left;
  }
  .feature-1-description {
    text-align: left;
  }
  .main-banner-animated-gif-container {
    height: 300px;
  }
  .video-heading {
    margin-bottom: 0px;
    font-size: 38px;
    line-height: 40px;
  }
  .bannerslide {
    left: 20%;
    height: 330px;
  }
  .main-banner-image {
    height: 300px;
  }
}

@media (max-width: 479px) {
  .button.download-store.google-play {
    width: 49%;
    margin-right: 0%;
    padding-top: 32px;
  }
  .button.download-store.google-play.apple-store {
    width: 49%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-link.menu.w--open {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section.main {
    margin-top: 51px;
    margin-bottom: 7px;
    padding-top: 13px;
    padding-bottom: 0px;
    background-image: none;
  }
  .section.press {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section.developer {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .section.pay-later {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 13px;
    padding-bottom: 5px;
  }
  .section.video-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-subtitle {
    margin-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    text-transform: none;
  }
  .main-heading {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: none;
  }
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .nav-logo {
    max-height: 42px;
  }
  .nav-menu-icon {
    padding-top: 3px;
  }
  .nav-social-menu {
    padding-bottom: 0px;
  }
  .main-steps {
    margin-top: 24px;
  }
  .step-image.step-image-1 {
    padding-top: 35px;
  }
  .step-image.step-image-2 {
    padding-top: 35px;
  }
  .step-image.step-image-3 {
    margin-top: 4px;
    padding-top: 35px;
  }
  .step-title {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 19px;
  }
  .step-sub-title {
    font-size: 15px;
    line-height: 16px;
  }
  .coupon-heading {
    font-size: 15px;
    line-height: 17px;
    text-align: left;
  }
  .coupon-description {
    font-size: 10px;
    line-height: 13px;
    text-align: left;
  }
  .coupon-description.pricing-decription {
    margin-bottom: 5px;
    font-size: 8px;
    line-height: 12px;
  }
  .coupon-image {
    height: 120px;
    margin-top: 0px;
  }
  .coupon-row {
    margin-top: 5px;
  }
  .developer-image {
    height: 110px;
    margin-top: 0px;
  }
  .developer-description {
    padding: 0px 5px 0px 10px;
  }
  .pay-later-image {
    height: 110px;
    margin-top: 0px;
  }
  .pay-later-text-column {
    margin-top: 0px;
  }
  .pricing-image {
    height: 110px;
    margin-top: 0px;
  }
  .pricing-header {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
  }
  .mobile-main-spacer {
    padding-bottom: 75px;
  }
  .main-banner-animated-gif-container {
    margin-top: 14px;
  }
  .video-heading {
    font-size: 23px;
    line-height: 25px;
  }
  .video-place-holder {
    height: 220px;
  }
  .credit-cards-images {
    height: 49px;
    margin-right: 0px;
  }
  .bannerslide {
    left: 0px;
  }
}

